{:paths ["src/main/"
         "src/test/"]
 :deps {reagent/reagent {:mvn/version "1.1.0"}
        thheller/shadow-cljs {:mvn/version "2.14.5"}
        org.babashka/sci {:mvn/version "0.3.5"}
        applied-science/js-interop {:mvn/version "0.3.3"}
        nextjournal.clojure-mode {:git/url "https://github.com/nextjournal/clojure-mode"
                                  :sha "ac038ebf6e5da09dd2b8a31609e9ff4a65e36852"}}}
